################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/bin
/obj
/test
/tool/Picker/bin
/tool/Picker/obj
/tool/Picker/note.txt
/log
/tool
